
  <mat-card>
    <a class="navbar-brand">
      <img id="aeva" style="float: left; margin-left: -268px; width: 132px;" src="https://thumbs.dreamstime.com/z/calibre-abstrait-de-vecteur-de-logo-de-cin%C3%A9ma-d-isolement-sur-le-blanc-79853753.jpg">
    </a>  
      <mat-card-content>
    
        <form [formGroup]="form"  (ngSubmit)="onLogin()">
    
          <h2 style="color:darkred;">Log In</h2>
    
          <mat-error *ngIf="loginInvalid">
    
      
    
          </mat-error> 
          <mat-form-field class="full-width-input">
    
          <input matInput   placeholder="username" formControlName="username" required>
  
            <mat-error *ngIf="loginInvalid">
  
          
    
            </mat-error>
    
          </mat-form-field>
    
          <mat-form-field class="full-width-input">
    
            <input matInput type="password" placeholder="Password" formControlName="password" required>
    
            <mat-error>
  
    
            </mat-error>
    
          </mat-form-field>
    
          <button mat-raised-button style="color:darkred;"> <strong>Login</strong> </button>
    
        </form>
    
      </mat-card-content>
    
    </mat-card>